body {
    text-align: center;
    background: #f7f7f7;
    color: #666;
    padding: 0px;
    margin: 0px;
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
}

h1,h2 {
    color: #333;
    border-left: 10px solid #36c;
    font-weight: 100;
    padding: 4px 7px;
}

h3,h4,h5 {
    color: #36c;
    border-top: 1px dashed #9bd;
    font-weight: 100;
    padding: 3px;
}

a {
    color: #36c;
}

div.title {
    text-align: justify;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #36c;
    border-bottom: 2px solid #fff;
    color: #f7f7f7;
    position: fixed;
    top: 0px;
    left: 0px;
}

span.title-label {
    font-weight: 100;
    font-size: 1.4em;
    margin: 0px 10px;
}

span.envname {
    font-size: 0.8em;
}

div.content {
    text-align: justify;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid #eee;
}

div.sub {
    margin: 20px 30px;
}

pre, textarea {
    width: 100%;
    height: auto;
    resize: none;
    line-height: 1.2em;
    padding: 10px 2px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #eee;
    text-shadow:none;
    color: #111;
}

address.generated-by {
    width: 80%;
    padding: 0px 30px;
    margin: auto;
    margin-top: 20px;
    text-align: right;
    font-style: normal;
}

span.label {
    font-size: 0.8em;
    font-weight: 800;
    background: #eee;
    color: #999;
    padding: 4px;
    border: 1px solid #ddd;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    margin-left: 10px;
}

span.label.input {
    background: #def;
    color: #36c;
    border: 1px solid #9bd;
    border-bottom: 0px;
}

span.label.response {
    background: #dfe;
    color: #3c6;
    border: 1px solid #9db;
    border-bottom: 0px;
}

span.label.source {
    background: #fde;
    color: #c36;
    border: 1px solid #d9b;
    border-bottom: 0px;
}

ul.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    width: 400px;
    z-index: 5;
}

ul.menu li {
    font-size: 0.8em;
    list-style: none;
    float: left;
    margin: 6px;
}

ul.menu li a {
    color: #fff;
}

ul.menu li a img {
    margin-top: -5px;
}

div.logo-img {
    text-align: center;
    background-image: url("logo-bg.png");
    padding: 10px;
    border-radius: 4px;
}
